@import "tailwindcss";

span {
  font-size: 14px;
  font-weight: 500;
}

.dp {
  width: 60px;
  height: 60px;
}

.inner-border {
  background-color: rgb(0, 0, 0);
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-border {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(240, 207, 22), #ff6600, #ff00ff);
}
